WEB_PORT=8080

MYSQL_ROOT_PASSWORD=change_this_root_password
MYSQL_DATABASE=stat_ai_bootcamp
MYSQL_USER=stat_ai_user
MYSQL_PASSWORD=change_this_db_password

JWT_SECRET=change_this_long_random_secret
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=Admin
